 @import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');

 :root{
    --primary-color: #4b0082;
    --secondary-color:antiquewhite;
} 

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lumanosimo', cursive;
    text-decoration: none;
    list-style: none;
}

body{
    background: url(/images/premier-league-trophy.jpg);
    background-size: cover;
}

/*.........................header....................................*/
.header .navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 4px 7px 10px 4px var(--primary-color);
    background: var(--secondary-color);
}

.nav-logo{
    display: flex;
    align-items: center;
    
}
.logo-pic img{
    width: 80px;
    height: 80px;
}
.logo-brand{
    font-size: 30px;
    font-weight: 500;
    margin-left: 10px;
}
.nav-items{
    display: flex;
   
}
.nav-items a{
    font-size: 20px;
    font-weight: 500;
    margin-left: 100px;
    transition: 1s;
}
.nav-items a:hover,
.nav-items a.active{
color: black;
font-weight: 500;

}
/*.............................main home..............................*/
.home{
    height: 150vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content{
    max-width: 1100px;

}
.home-content h1{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    
}
.stats{
    margin-top: 20px;
    align-items: center;
    border: 2px solid maroon;
    border-radius: 10px;
    box-shadow: 4px 7px 10px 4px var(--primary-color);
}
.stats .row{
    display: flex;
    padding: 10px 10px;
}
.stats .row label{
    justify-content: space-between;
    height: 40px; 
}
.stats .row input{
    border-radius: 5px;
    height: 40px;
    margin-left: 20px;
    border: 2px solid --secondary-color;
    text-align: center;
   background: var(--primary-color);
    font-family: 'poppins' sans-serif;
    font-size: 14px;
    color: var(--secondary-color);
}
